@import 'mixins';
@import 'var';

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Helvetica" !important;
}

// Header Start
.headerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0px;
    border-bottom: 3px solid $orange;

    img {
        max-width: 18%;
    }
}

// Header End

// Container Start
.container {
    max-width: 960px;
    margin: 0px auto;
}

// Container End

// Main Heading Start
.mainHeading {
    text-align: center;
    margin: 20px 0px;

    h1 {
        font-weight: 400;
        font-size: 30px;
        color: #333333;
        text-align: center;
    }

    p {
        margin-top: 24px;
        font-size: 17px;
        color: $taglineColor;
        text-align: center;
    }
}

// Main Heading End

// Related Ad Topic Start
.ratContainer {
    border: 1px solid #d7d7d7;
    margin: 0px auto;
    padding: 2px 8px;

    span {
        font-size: 12px;
        color: $adsColor;
    }

    .ratCardContainer {
        margin-top: 2px;
        display: flex;
        gap: 10px;

        .ratCard {
            border: 0.5px solid #cccccc;
            border-radius: 2px;
            width: 33.33%;

            img {
                width: 100%;
                height: 355px;
                display: flex;
            }

            .ratCardContent {
                cursor: pointer;
                color: white;
                padding: 20px 68px;
                text-align: center;
                background-color: $cardOrange;

                .ratDiscirption {
                    font-size: 21px;
                    text-align: center;
                }

                .ratcta {
                    margin-top: 10px;
                }

                @include ctaBtn($yellowBg, $blackColor);
            }
        }
    }

    // Lower Related Topic Start 

    .rtaLowerCardContainer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 8px;
        align-items: center;
        margin-top: 1rem;
        color: white;

        .ratCard {
            padding: 1rem;
            background-color: $cardOrange;
            cursor: pointer;

            .ratCardContent {
                display: flex;
                align-items: center;

                .ratDiscirption {
                    margin: 0px auto 0px 0px;
                    font-size: 21px;
                    padding-left: 1.5rem;
                }

            }

            .ratcta.blacktop {
                display: none;
            }

            &:hover {
                @include ctaBtn($yellowBg, $blackColor);
            }

        }
    }

    // Lower Related Topic End

}

// Ads Start
.ads {
    @include ads();
}

// Ads End

// Related Ad Topic End

// You Interest Start
.ymiTagLine {
    font-size: 17px;
    color: $taglineColor;
    margin-top: 15px;
    line-height: 1.4;
}

.ymiContainer {
    border: 1px solid rgb(215, 215, 215);
    padding: 10px 10px 1px 10px;
    margin-bottom: 5rem;

    .ymiCardContainer {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 20px;

        .ymiCards {
            img {
                width: 100%;
                height: 141px;
            }
        }

        .ymiCardContent {
            cursor: pointer;
            height: 140px;
            padding: 19px 12.5px;
            text-align: center;
            background-color: #3d3c3c;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            color: #ffffff;
            border: 0.6px solid $blackColor;

            .ymiDiscirption {
                font-size: 18px;
                font-weight: 500;
                text-align: center;
            }

            @include ctaBtn(white, $blackColor);
        }
    }
}

// You Interest End


// Tablet To laptop Screen 
@media only screen and (min-width:768px) and (max-width:991px) {
    .container {
        padding: 0px 15px;
    }

    .headerContainer {
        img {
            max-width: 25%;
        }
    }

    .ratContainer {
        @include rtaContainerMob(49%, 19px);

        .rtaLowerCardContainer {
            @include rtaLowerContainerMob('auto-fit', 19px);
        }
    }

    @include ymiContainerMob(3, 1fr, 130px);
}

// Mobile To Tablet Screen
@media only screen and (min-width:360px) and (max-width:767px) {
    .container {
        padding: 0px 10px;
    }

    .headerContainer {
        img {
            max-width: 40%;
        }
    }

    .mainHeading {
        h1 {
            font-size: 24px;
        }

        p {
            margin-top: 12px;
        }
    }

    .ratContainer {
        @include rtaContainerMob(100%, 18px);

        .rtaLowerCardContainer {
            @include rtaLowerContainerMob(auto, 18px);
        }
    }

    @include ymiContainerMob(2, 1fr, 120px);
}