* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

$orange : #e64616;
$yellowBg : #ffd55c;
$cardOrange: #f8744c;

@mixin rtacta($p1) {
    font-size: 1.2rem;
    font-weight: 800;
    margin: 0px $p1;
    padding: 0px 10px;
    margin-top: 0.5rem;
    border: 2px solid white;
    width: max-content;
    border-radius: 50%;
    color: white;
}

@mixin ads {
    text-align: right;
    font-size: 12px;
    color: #403f3f;
    font-family: "Helvetica";
}

@mixin ctaHover($col) {
    color: $col;
    border: 1px solid $col;
}

// Header Start

.headerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0px;
    border-bottom: 3px solid $orange;
}

// Header End


// Container Start
.container {
    max-width: 960px;
    margin: 0px auto;
}

// Container End

// Main Heading Start
.mainHeading {
    text-align: center;
    margin: 20px 0px;

    h1 {
        font-weight: 400;
        font-size: 30px;
        color: #333333;
        font-family: "Myriad Pro";
        text-align: center;
    }

    p {
        margin-top: 24px;
        font-size: 17px;
        color: #8b8989;
        font-family: "Myriad Pro";
        text-align: center;
    }
}

// Main Heading End

// Related Ad Topic Start

.ratContainer {
    border: 1px solid #d7d7d7;
    margin: 0px auto;
    padding: 2px 8px;

    span {
        font-size: 12px;
        color: #403f3f;
        font-family: "Helvetica";
    }

    .ratCardContainer {
        margin-top: 2px;
        display: flex;
        gap: 10px;

        .ratCard {
            border: 0.5px solid #cccccc;
            border-radius: 2px;
            width: 33.33%;

            img {
                width: 100%;
                height: 355px;
                display: flex;
            }

            .ratCardContent {
                cursor: pointer;
                color: white;
                padding: 20px 68px;
                text-align: center;
                background-color: $cardOrange;

                .ratDiscirption {
                    font-size: 21px;
                    font-family: "Myriad Pro";
                    text-align: center;
                }

                .rtacta {
                    @include rtacta(auto);
                }

                &:hover {
                    background-color: $yellowBg;
                    color: black;

                    .rtacta {
                        @include ctaHover(black);
                    }
                }
            }

        }
    }

    .rtaLowerCardContainer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 8px;
        align-items: center;
        margin-top: 1rem;
        color: white;

        .ratCard {
            padding: 1rem;
            background-color: $cardOrange;

            .ratCardContent {
                display: flex;
                align-items: center;

                .rtacta {
                    @include rtacta(0px)
                }

                .ratDiscirption {
                    margin: 0px auto 0px 0px;
                    font-size: 21px;
                    padding-left: 1.5rem;
                }
            }
        }
    }

    .ads {
        @include ads();
    }
}

.ymiTagLine {
    font-size: 17px;
    color: #8b8989;
    font-family: "Helvetica";
    margin-top: 15px;
}

.ymiContainer {
    border: 1px solid rgb(215, 215, 215);
    padding: 10px 10px 1px 10px;
    margin-bottom: 2rem;

    .ymiCardContainer {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 20px;
        
        .ymiCards {
            img {
                width: 100%;
                height: 141px;
            }
        }
        
        .ymiCardContent {
            height: 140px;
            padding: 20px;
            text-align: center;
            background-color: #3d3c3c;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            color: #ffffff;
            border: 0.6px solid black;

            .ymiDiscirption {
                font-size: 18px;
                font-weight: 500;
                font-family: "Helvetica Neue";
                text-align: center;
            }

            .ymicta {
                @include rtacta(auto);
            }

            &:hover {
                background-color: white;
                color: black;

                .ymicta {
                    @include ctaHover(black);
                }
            }
        }
    }

    .ads {
        @include ads();
    }
}

@media only screen  and (max-width:767px) {
    .container{
        padding: 0px 10px;
    }
    .ratContainer {
        .ratCardContainer {
            flex-wrap: wrap;

            .ratCard {
                width: 100%;
                .ratCardContent{
                    display: flex;
                    align-items: center;
                    padding: 10px 20px;
                    .rtacta{
                        margin: 0px 0px 0px auto;
                    }
                }
            }
        }
    }

    .ratContainer{
        .rtaLowerCardContainer{
            grid-template-columns: auto;
            .ratCard{   
                padding: 10px 20px;
                .ratCardContent{
                    .ratDiscirption{
                        padding-left: 0rem;
                    }
                    .rtacta{
                        margin-top: 0px;
                    }
                }
            }
        }
    }

    .ymiContainer {
        .ymiCardContainer {
            grid-template-columns: repeat(2, 1fr);
        }
    }
}

// Related Ad Topic End