* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Helvetica" !important;
}

.headerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0px;
  border-bottom: 3px solid #e64616;
}
.headerContainer img {
  max-width: 18%;
}

.container {
  max-width: 960px;
  margin: 0px auto;
}

.mainHeading {
  text-align: center;
  margin: 20px 0px;
}
.mainHeading h1 {
  font-weight: 400;
  font-size: 30px;
  color: #333333;
  text-align: center;
}
.mainHeading p {
  margin-top: 24px;
  font-size: 17px;
  color: #8b8989;
  text-align: center;
}

.ratContainer {
  border: 1px solid #d7d7d7;
  margin: 0px auto;
  padding: 2px 8px;
}
.ratContainer span {
  font-size: 12px;
  color: #403f3f;
}
.ratContainer .ratCardContainer {
  margin-top: 2px;
  display: flex;
  gap: 10px;
}
.ratContainer .ratCardContainer .ratCard {
  border: 0.5px solid #cccccc;
  border-radius: 2px;
  width: 33.33%;
}
.ratContainer .ratCardContainer .ratCard img {
  width: 100%;
  height: 355px;
  display: flex;
}
.ratContainer .ratCardContainer .ratCard .ratCardContent {
  cursor: pointer;
  color: white;
  padding: 20px 68px;
  text-align: center;
  background-color: #f8744c;
}
.ratContainer .ratCardContainer .ratCard .ratCardContent .ratDiscirption {
  font-size: 21px;
  text-align: center;
}
.ratContainer .ratCardContainer .ratCard .ratCardContent .ratcta {
  margin-top: 10px;
}
.ratContainer .ratCardContainer .ratCard .ratCardContent .ratcta img {
  width: 15%;
  height: 20%;
  margin: 0px auto;
}
.ratContainer .ratCardContainer .ratCard .ratCardContent .ratcta.blacktop {
  display: none;
}
.ratContainer .ratCardContainer .ratCard .ratCardContent:hover {
  background-color: #ffd55c;
  color: black;
}
.ratContainer .ratCardContainer .ratCard .ratCardContent:hover .ratcta.blacktop {
  display: block;
}
.ratContainer .ratCardContainer .ratCard .ratCardContent:hover .ratcta {
  display: none;
}
.ratContainer .rtaLowerCardContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8px;
  align-items: center;
  margin-top: 1rem;
  color: white;
}
.ratContainer .rtaLowerCardContainer .ratCard {
  padding: 1rem;
  background-color: #f8744c;
}
.ratContainer .rtaLowerCardContainer .ratCard .ratCardContent {
  display: flex;
  align-items: center;
}
.ratContainer .rtaLowerCardContainer .ratCard .ratCardContent .ratDiscirption {
  margin: 0px auto 0px 0px;
  font-size: 21px;
  padding-left: 1.5rem;
}

.ads {
  text-align: right;
  font-size: 12px;
  color: #403f3f;
}

.ymiTagLine {
  font-size: 17px;
  color: #8b8989;
  margin-top: 15px;
  line-height: 1.4;
}

.ymiContainer {
  border: 1px solid rgb(215, 215, 215);
  padding: 10px 10px 1px 10px;
  margin-bottom: 5rem;
}
.ymiContainer .ymiCardContainer {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
}
.ymiContainer .ymiCardContainer .ymiCards img {
  width: 100%;
  height: 141px;
}
.ymiContainer .ymiCardContainer .ymiCardContent {
  height: 140px;
  padding: 19px 12px;
  text-align: center;
  background-color: #3d3c3c;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #ffffff;
  border: 0.6px solid black;
}
.ymiContainer .ymiCardContainer .ymiCardContent .ymiDiscirption {
  font-size: 18px;
  font-weight: 500;
  text-align: center;
}
.ymiContainer .ymiCardContainer .ymiCardContent .ratcta img {
  width: 16%;
  height: 60%;
  margin: 0px auto;
}
.ymiContainer .ymiCardContainer .ymiCardContent .ratcta.blacktop {
  display: none;
}
.ymiContainer .ymiCardContainer .ymiCardContent:hover {
  background-color: white;
  color: black;
}
.ymiContainer .ymiCardContainer .ymiCardContent:hover .ratcta.blacktop {
  display: block;
}
.ymiContainer .ymiCardContainer .ymiCardContent:hover .ratcta {
  display: none;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .container {
    padding: 0px 15px;
  }
  .headerContainer img {
    max-width: 25%;
  }
  .ratContainer .ratCardContainer {
    flex-wrap: wrap;
  }
  .ratContainer .ratCardContainer .ratCard {
    width: 49%;
  }
  .ratContainer .ratCardContainer .ratCard .ratCardContent {
    display: flex;
    align-items: center;
    padding: 10px 20px;
  }
  .ratContainer .ratCardContainer .ratCard .ratCardContent .ratcta img {
    width: 100%;
  }
  .ratContainer .ratCardContainer .ratCard .ratCardContent .ratcta {
    margin: 0px 0px 0px auto;
  }
  .ratContainer .rtaLowerCardContainer {
    grid-template-columns: "auto-fit";
  }
  .ratContainer .rtaLowerCardContainer .ratCard {
    padding: 10px 20px;
  }
  .ratContainer .rtaLowerCardContainer .ratCard .ratCardContent .ratDiscirption {
    padding-left: 0rem;
  }
  .ratContainer .rtaLowerCardContainer .ratCard .ratCardContent .ratcta {
    margin-top: 0px;
  }
  .ymiContainer .ymiCardContainer {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media only screen and (min-width: 400px) and (max-width: 767px) {
  .container {
    padding: 0px 10px;
  }
  .headerContainer img {
    max-width: 40%;
  }
  .mainHeading h1 {
    font-size: 24px;
  }
  .mainHeading p {
    margin-top: 12px;
  }
  .ratContainer .ratCardContainer {
    flex-wrap: wrap;
  }
  .ratContainer .ratCardContainer .ratCard {
    width: 100%;
  }
  .ratContainer .ratCardContainer .ratCard .ratCardContent {
    display: flex;
    align-items: center;
    padding: 10px 20px;
  }
  .ratContainer .ratCardContainer .ratCard .ratCardContent .ratcta img {
    width: 100%;
  }
  .ratContainer .ratCardContainer .ratCard .ratCardContent .ratcta {
    margin: 0px 0px 0px auto;
  }
  .ratContainer .rtaLowerCardContainer {
    grid-template-columns: auto;
  }
  .ratContainer .rtaLowerCardContainer .ratCard {
    padding: 10px 20px;
  }
  .ratContainer .rtaLowerCardContainer .ratCard .ratCardContent .ratDiscirption {
    padding-left: 0rem;
  }
  .ratContainer .rtaLowerCardContainer .ratCard .ratCardContent .ratcta {
    margin-top: 0px;
  }
  .ymiContainer .ymiCardContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}/*# sourceMappingURL=indexscss.css.map */